body {
    background-color: green;
    color: white;
    margin: 0;
    font-family: rubik;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
  text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 150px;
}

a:link {
  text-decoration: none;
  color: gold;
  padding: 5px;
}

a:visited {
  text-decoration: none;
  color: orange;
  padding: 5px;
}

a:hover {
  text-decoration: underline;
  color: red;
  padding: 5px;
}

a:active {
  text-decoration: underline;
  color: hotpink;
  padding: 5px;
}

</style>

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}